<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <title>Password Changed</title>
</head>
<body>
    <h1 class="font-semibold text-4xl text-gray-800">Password reset complete</h1>
    <div class="max-w-lg  mt-28">
        
        <a class="w-full bg-blue-500 text-white  hover:bg-blue-600 px-3 py-3 rounded-md" href=" {% url 'login' %} ">Log in</a>
    </div>
</body>
</html>